.hover-section {
    padding-top: 90px;
    padding-bottom: 110px;
}

.hover-section__wrap {
    margin-top: 99px;
}

.hover-section__box-wrap {
    
}

.hover-section__box {
    background-color: $green;
    min-height: 250px;
    max-width: 382px;

    &:hover {
        .hover-section__box-inner {
            transform: translate(-10px, -10px);
            transition: .5s $ease;

            &::before {
                content: '';
                background: $gradient;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transition: $dur $ease;
                opacity: 1;
            }
        }

        .hover-section__box-inner-content {
            opacity: 1;
            transition: $dur $ease;
        }
    }
}

.hover-section__box-inner {
    position: relative;
    overflow: hidden;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s $ease;

    &::before {
        content: '';
        background: $gradient;
        position: absolute;
        top: 0;
        left: 0;
        height: 1%;
        width: 100%;
        opacity: 0;
        transition: $dur $ease;
    }
}

.hover-section__box-inner-img {
    max-width: 100%;
    width: 100%;
}

.hover-section__box-inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: $dur $ease;
    text-align: center;

    i {
        font-family: $font-icon;
        color: $white;
        font-size: 24px;
        width: 17px;
        height: 24px;
        font-style: normal;
        margin-bottom: 14px;
        display: inline-block;
        text-align: center;
    }

    span {
        font-family: $font-main;
        font-size: 18px;
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
        display: block;
    }
}

.hover-section--alt {

    .hover-section__box {
        margin-bottom: 25px;
    }

    .hover-section__box-inner {
        max-height: 470px;
    }

    .hover-section__box-inner-img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    
    .hover-section__box-inner-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hover-section__box-inner-content-link {
        position: relative;
        background-color: $yellow;
        width: 56px;
        height: 56px;
        border-right: 1px solid rgba($red, .6);
        transition: $dur $ease;

        &:hover {
            background-color: $red;

            i {
                color: $white;
            }
        }

        &:last-child {
            border-right: none;
        }

        i {
            color: $red;
            font-family: $font-icon;
            font-size: 28px;
            height: 42px;
            width: 23px;
            margin-bottom: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .hover-section__box-info-name {
        display: block;
        text-align: center;
        font-size: 16px;
        color: $black;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 2px;
        letter-spacing: -.4px;
    }

    .hover-section__box-info-rola {
        font-size: 15px;
        color: $grey;
        font-style: italic;
        display: block;
        text-align: center;
    }
}